@import "tailwindcss"; /* This replaces @tailwind directives for v4 */

@theme {
  /* Night Blues */
  --color-nightBlue: #0A1128;
  --color-nightBlueLight: #121D3F;
  /* Coral */
  --color-coralMain: #FF7F50;
  --color-coralHover: #FF9966;
  /* Deep Violet */
  --color-deepViolet: #571F7A;
  /* Aurora Green */
  --color-auroraGreen: #00CC66;
  --color-auroraGreenHover: #66FF66;
  /* Aurora Blue */
  /*--color-auroraBlue: #8c0080;*/
  --color-auroraBlue: #00c8c8;
  /* Light Blue */
  --color-lightBlue: #A7D9F7;

  /* New CTA Background Color Variable */
  --color-ctaBackground: var(--color-auroraBlue); /* Using nightBlue for CTA background */
}

/* Custom body styles */
body {
  font-family: 'Inter', sans-serif; /* Ensure Inter font is applied */
  background-color: var(--color-nightBlue); /* Use the theme variable */
  color: #E0E0E0; /* Default light text color for general content */
  min-height: 100vh; /* Ensure body takes full viewport height */
  display: flex;
  flex-direction: column;
}
